/* 
CSS Document 
Wink Hosting (www.winkhosting.com)
Designed By Alexis Corredor
alexis.corredor@gmail.com
*/
a { 
	text-decoration:none;
}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/*HEADER*/
#header{
	width: 800px;
	position:relative; 
	height: 162px;
	background-image:url(http://doubango.googlecode.com/svn/trunk/website/images/header.png);
	background-repeat:no-repeat;
}
/*COMPANY NAME IN HEADER*/
#companyname {
	position:absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
	margin-top:50px;
	margin-left:40px;
	left: 0px;
	top: 0px;
}
/*MENU IN HEADER*/
#menu{
	position:absolute;
	bottom: 20px;
	right: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
#menu a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#333333;
	text-decoration:none;
}
#menu a:hover{
	text-decoration:underline;
}

/*LEFT PANEL (News, Links, etc.)*/
#leftpanel{
	float:left;
	width:200px;
}

/*CONTENT*/
#content{
	width: 800px;
}
#contenttext{
	float:right;
	width: 580px;
}

/*FOOTER*/
.footer{
	width: 779px;
	height: 32px;
	background-image:url(http://doubango.googlecode.com/svn/trunk/website/images/bg_footer.gif);
	background-repeat:no-repeat;
	clear:both;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#FFFFFF;
}
/*FOOTER LINKS*/
.footer a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration:none;
}
.footer a:hover{
	text-decoration:underline;
}

/*TABLE*/
.table_top{
	width: 204px; 
	height: 27px;
	background-image:url(http://doubango.googlecode.com/svn/trunk/website/images/table_top.jpg);
	background-repeat:no-repeat;
}
.table_content{
	width: 204px;
	background-image:url(http://doubango.googlecode.com/svn/trunk/website/images/table_content.jpg);
	background-repeat:repeat-y;
}
.table_text{
	margin-left:15px;
	margin-right:15px;
	text-align:justify;
}
.table_bottom{
	width: 204px; height: 23px;
}

/*TEXT STYLES*/
.news_date {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0099CC;
}
.body_text {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.news_more {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
	font-weight: bold;
}
.news_text {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.subtitle_gray {	font-family:Verdana, Arial, Helvetica, sans-serif;	
	font-weight: bold;
	font-size: 14px;
	color: #CCCCCC;
}
.title_blue {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 26px; color: #7DA5E0; }
.title_black {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 26px; color: #000000; }
.title_panel {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.section_blue {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; color: #7DA5E0; }
.section_text {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}