A.stub {
	COLOR: #ba0000; TEXT-DECORATION: none
}
A.new {
	COLOR: #ba0000; TEXT-DECORATION: none
}
#toc {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.tocindent {
	MARGIN-LEFT: 2em
}
.tocline {
	MARGIN-BOTTOM: 0px
}
.toctoggle {
	FONT-SIZE: smaller
}
.editsection {
	FONT-SIZE: smaller
}
DIV.floatright {
	BORDER-RIGHT: white 0px solid; BORDER-TOP: white 0.5em solid; FLOAT: right; MARGIN: 0px; BORDER-LEFT: white 1.4em solid; BORDER-BOTTOM: white 0.8em solid; POSITION: relative
}
DIV.floatright P {
	FONT-STYLE: italic
}
DIV.floatleft {
	BORDER-RIGHT: white 1.4em solid; BORDER-TOP: white 0.5em solid; FLOAT: left; MARGIN: 0.3em 0.5em 0.5em 0px; BORDER-LEFT: white 0px solid; BORDER-BOTTOM: white 0.8em solid; POSITION: relative
}
DIV.floatleft P {
	FONT-STYLE: italic
}
DIV.thumb {
	BORDER-LEFT-COLOR: white; MARGIN-BOTTOM: 0.5em; BORDER-BOTTOM-COLOR: white; OVERFLOW: hidden; WIDTH: auto; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: white; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: white; BORDER-BOTTOM-STYLE: solid
}
DIV.thumb DIV {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px! important; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px! important; FONT-SIZE: 94%; PADDING-BOTTOM: 3px! important; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 3px! important; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
DIV.thumb DIV A IMG {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
DIV.thumb DIV DIV.thumbcaption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.1em; BORDER-TOP-STYLE: none; PADDING-TOP: 0.3em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.magnify {
	DISPLAY: none
}
DIV.tright {
	BORDER-TOP-WIDTH: 0.5em; BORDER-LEFT-WIDTH: 1.4em; FLOAT: right; BORDER-BOTTOM-WIDTH: 0.8em; BORDER-RIGHT-WIDTH: 0px
}
DIV.tleft {
	BORDER-TOP-WIDTH: 0.5em; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0.8em; MARGIN-RIGHT: 0.5em; BORDER-RIGHT-WIDTH: 1.4em
}
TABLE.rimage {
	FLOAT: right; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 1em; WIDTH: 1pt; POSITION: relative; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px
}
.noprint {
	DISPLAY: none
}
DIV.top {
	DISPLAY: none
}
DIV#column-one {
	DISPLAY: none
}
#colophon {
	DISPLAY: none
}
.editsection {
	DISPLAY: none
}
.toctoggle {
	DISPLAY: none
}
.tochidden {
	DISPLAY: none
}
DIV#f-poweredbyico {
	DISPLAY: none
}
DIV#f-copyrightico {
	DISPLAY: none
}
LI#f-viewcount {
	DISPLAY: none
}
LI#f-about {
	DISPLAY: none
}
LI#f-disclaimer {
	DISPLAY: none
}
UL {
	LIST-STYLE-TYPE: square
}
#content {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-SIZE: 11pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; MARGIN: 0px; BORDER-TOP-STYLE: none! important; PADDING-TOP: 0px! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
#footer {
	BORDER-TOP: black 1px solid
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H6 {
	FONT-WEIGHT: bold
}
P {
	MARGIN: 1em 0px; LINE-HEIGHT: 1.2em
}
.documentDescription {
	MARGIN: 1em 0px; LINE-HEIGHT: 1.2em
}
.tocindent P {
	MARGIN: 0px
}
PRE {
	BORDER-RIGHT: black 1pt dashed; PADDING-RIGHT: 0px; BORDER-TOP: black 1pt dashed; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1em; OVERFLOW: auto; BORDER-LEFT: black 1pt dashed; PADDING-TOP: 1em; BORDER-BOTTOM: black 1pt dashed; WHITE-SPACE: pre
}
TABLE.listing {
	BORDER-RIGHT: black 1pt solid; BORDER-TOP: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-BOTTOM: black 1pt solid; BORDER-COLLAPSE: collapse
}
TABLE.listing TD {
	BORDER-RIGHT: black 1pt solid; BORDER-TOP: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-BOTTOM: black 1pt solid; BORDER-COLLAPSE: collapse
}
A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; COLOR: black! important; PADDING-TOP: 0px! important
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #520; TEXT-DECORATION: underline
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #520; TEXT-DECORATION: underline
}
#content A.text:unknown {
	content: " (" attr(href) ") "
}
#content A.autonumber:unknown {
	content: " (" attr(href) ") "
}
#globalWrapper {
	WIDTH: 100%! important; min-width: 0
}
#column-content {
	MARGIN: 0px
}
#column-content #content {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
A {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A.external {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A.new {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A.stub {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A {
	
}
A.external {
	
}
A.new {
	
}
A.stub {
	
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
IMG.tex {
	VERTICAL-ALIGN: middle
}
SPAN.texhtml {
	FONT-FAMILY: serif
}
DIV.townBox {
	CLEAR: right; BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0.3em; BACKGROUND: white; FLOAT: right; PADDING-BOTTOM: 0.3em; MARGIN-LEFT: 1em; OVERFLOW: hidden; BORDER-LEFT: gray 1px solid; WIDTH: 200px; PADDING-TOP: 0.3em; BORDER-BOTTOM: gray 1px solid; POSITION: relative
}
DIV.townBox DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 96%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.3em; PADDING-TOP: 0px
}
DIV.townBox DL DT {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0.4em 0px 0px
}
DIV.townBox DL DD {
	MARGIN: 0.1em 0px 0px 1.1em; BACKGROUND-COLOR: #f3f3f3
}
#siteNotice {
	DISPLAY: none
}
TABLE.gallery {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.gallery TR {
	VERTICAL-ALIGN: top
}
DIV.gallerybox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 150px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f9f9f9
}
DIV.gallerybox DIV.thumb {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
DIV.gallerytext {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 94%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.diff {
	BACKGROUND: white
}
TD.diff-otitle {
	BACKGROUND: #ffffff
}
TD.diff-ntitle {
	BACKGROUND: #ffffff
}
TD.diff-addedline {
	BORDER-RIGHT: black 2px solid; BORDER-TOP: black 2px solid; FONT-SIZE: smaller; BACKGROUND: #ccffcc; BORDER-LEFT: black 2px solid; BORDER-BOTTOM: black 2px solid
}
TD.diff-deletedline {
	BORDER-RIGHT: black 2px dotted; BORDER-TOP: black 2px dotted; FONT-SIZE: smaller; BACKGROUND: #ffffaa; BORDER-LEFT: black 2px dotted; BORDER-BOTTOM: black 2px dotted
}
TD.diff-context {
	FONT-SIZE: smaller; BACKGROUND: #eeeeee
}
SPAN.diffchange {
	FONT-WEIGHT: bold; COLOR: silver; TEXT-DECORATION: underline
}
