BODY {
	BACKGROUND-IMAGE: none; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
HTML {
	BACKGROUND-IMAGE: none; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #006bad
}
A:hover {
	COLOR: #006bad
}
A:active {
	COLOR: #006bad
}
A:visited {
	COLOR: #006bad
}
#header H1 {
	FONT-SIZE: 2em; COLOR: #006bad; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#header H1 A:link {
	COLOR: #006bad
}
#header H1 A:visited {
	COLOR: #006bad
}
#header H1 A:active {
	COLOR: #006bad
}
.postview H2 {
	FONT-SIZE: 1.4em; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.pageTitle {
	FONT-SIZE: 1.4em; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.postsub H2 {
	FONT-SIZE: 1.4em; COLOR: #006bad; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.postsub H2 A:link {
	COLOR: #006bad
}
.postsub H2 A:visited {
	COLOR: #006bad
}
.postsub H2 A:active {
	COLOR: #006bad
}
.postsub H2 A:hover {
	COLOR: #006bad
}
#sidebar-a H3 {
	FONT-SIZE: 1.1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #7ba5ce
}
#sidebar-a {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#sidebar-a UL {
	FONT-SIZE: 0.9em
}
#sidebar-a P {
	FONT-SIZE: 0.9em
}
#sidebar-a A:link {
	COLOR: #006bad
}
#sidebar-a A:visited {
	COLOR: #006bad
}
#sidebar-a A:active {
	COLOR: #006bad
}
#sidebar-a A:hover {
	COLOR: #006bad
}
.postsubhead {
	FONT-SIZE: 0.9em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #7ba5ce
}
.postsubhead A:link {
	
}
.postsubhead A:active {
	
}
.postsubhead A:visited {
	
}
.Tag1 A:link {
	COLOR: #001658
}
.Tag1 A:visited {
	COLOR: #001658
}
.Tag1 A:active {
	COLOR: #001658
}
.Tag2 A:link {
	COLOR: #002769
}
.Tag2 A:visited {
	COLOR: #002769
}
.Tag2 A:active {
	COLOR: #002769
}
.Tag3 A:link {
	COLOR: #00387a
}
.Tag3 A:visited {
	COLOR: #00387a
}
.Tag3 A:active {
	COLOR: #00387a
}
.Tag4 A:link {
	COLOR: #00498b
}
.Tag4 A:visited {
	COLOR: #00498b
}
.Tag4 A:active {
	COLOR: #00498b
}
.Tag5 A:link {
	COLOR: #005a9c
}
.Tag5 A:visited {
	COLOR: #005a9c
}
.Tag5 A:active {
	COLOR: #005a9c
}
.Tag6 A:link {
	COLOR: #006bad
}
.Tag6 A:visited {
	COLOR: #006bad
}
.Tag6 A:active {
	COLOR: #006bad
}
#container {
	WIDTH: 100%
}
#content {
	MARGIN-LEFT: 220px
}
#sidebar-a {
	WIDTH: 220px
}
