HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #333333; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #333333; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 81%; LINE-HEIGHT: 1.2em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
A:visited {
	COLOR: #006bad; TEXT-DECORATION: none
}
A:active {
	COLOR: #006bad; TEXT-DECORATION: none
}
A:link {
	COLOR: #006bad; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
H1 {
	
}
H2 {
	
}
H3 {
	
}
H4 {
	
}
H5 {
	
}
H1 {
	FONT-SIZE: 1.5em; MARGIN: 0px
}
H1 A:visited {
	
}
H1 A:active {
	
}
H1 A:link {
	
}
H1 A:hover {
	TEXT-DECORATION: none
}
H2 {
	MARGIN-TOP: 10px; FONT-SIZE: 1em
}
H3 {
	FONT-SIZE: 1.1em; TEXT-DECORATION: none
}
H3 A:hover {
	TEXT-DECORATION: none
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	MARGIN: 10px 0px
}
INPUT.text {
	WIDTH: 300px
}
TEXTAREA {
	WIDTH: 300px; HEIGHT: 200px
}
#wrapper {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
#container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#header H1 {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-WEIGHT: bold; FONT-SIZE: 2em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.1em
}
#header P {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 0em
}
#title {
	
}
#subscriptions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 230px; PADDING-TOP: 0px; HEIGHT: 1%
}
#content2 {
	OVERFLOW: hidden; WIDTH: 100%
}
#contentfooter {
	CLEAR: both
}
#sidebar-a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 220px; PADDING-TOP: 0px
}
#sidebar-a H3 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 5px; BACKGROUND: #999999; PADDING-BOTTOM: 0.2em; MARGIN: 0em 0px 0px 0em; COLOR: #ffffff; PADDING-TOP: 0.2em
}
#sidebar-a P {
	BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 0px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; BORDER-LEFT: #aaaaaa 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px dotted
}
#sidebar-a UL {
	BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 0px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; BORDER-LEFT: #aaaaaa 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px dotted; LIST-STYLE-TYPE: none
}
#sidebar-a LI {
	MARGIN-TOP: 6px
}
#sidebar-a A:active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#sidebar-a A:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#sidebar-a A:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#sidebar-a A:hover {
	TEXT-DECORATION: underline
}
#footer {
	CLEAR: both; PADDING-RIGHT: 10px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.post {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; MARGIN: 0px 0px 2em; PADDING-TOP: 0em
}
.post IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 5px 5px 5px 0px; PADDING-TOP: 5px
}
.post H2 {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0em
}
.post H5 {
	FONT-SIZE: 1em; MARGIN: 0px 0px 0.5em
}
.postsub {
	BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 0px dotted; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0em; MARGIN: 0px; BORDER-LEFT: #aaaaaa 1px dotted; PADDING-TOP: 0em; BORDER-BOTTOM: #aaaaaa 1px dotted
}
.postsub A {
	FONT-WEIGHT: bold
}
.postsub IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 5px 5px 5px 0px; PADDING-TOP: 5px
}
.postsub H2 {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 1.4em; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 5px
}
.postview {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0em; MARGIN: 0px; PADDING-TOP: 0em
}
.postview A {
	FONT-WEIGHT: bold
}
.postview IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 5px 5px 0px; PADDING-TOP: 5px
}
.postview H2 {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 1.4em; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.postview H2 A {
	TEXT-DECORATION: underline
}
.postfoot {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.5em; MARGIN: 0em; PADDING-TOP: 0.5em
}
.postfoot IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.postsubhead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND: #999999; PADDING-BOTTOM: 0.2em; MARGIN: 0em; COLOR: #ffffff; PADDING-TOP: 0.2em; TEXT-ALIGN: right
}
.postsubhead A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.postsubhead A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.postsubhead IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#posttoolbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: -2em 0px 0px; PADDING-TOP: 0px
}
.ratemenu {
	BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 1em; BORDER-TOP: #aaaaaa 1px dotted; PADDING-LEFT: 1em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 1em; MARGIN: 0.5em; BORDER-LEFT: #aaaaaa 1px dotted; PADDING-TOP: 1em; BORDER-BOTTOM: #aaaaaa 1px dotted; BACKGROUND-COLOR: #ffffff
}
#comments H4 {
	FONT-SIZE: 1em; MARGIN: 0px
}
#comments {
	MARGIN: 0px 0px 1em
}
.commentsbody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
.commentspan {
	PADDING-LEFT: 5px; FLOAT: right; WIDTH: 200px; TEXT-ALIGN: right
}
.commentssubhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; COLOR: #999999; PADDING-TOP: 0px
}
.comment {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; OVERFLOW: hidden; PADDING-TOP: 1em; WORD-WRAP: break-word
}
.altcomment {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; OVERFLOW: hidden; PADDING-TOP: 1em; BACKGROUND-COLOR: #f3f3f3; WORD-WRAP: break-word
}
.commentowner {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 1em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1em; OVERFLOW: hidden; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #f3f3f3; WORD-WRAP: break-word
}
.altcommentowner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
#commentform {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 10px
}
#commentform DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#commentform DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#commentform DT EM {
	
}
#commentform .smallbox {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #333333 1px solid; WIDTH: 300px; PADDING-TOP: 2px; BORDER-BOTTOM: #333333 1px solid
}
#commentform TEXTAREA {
	WIDTH: 400px; HEIGHT: 180px
}
#contactform {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 10px
}
#contactform DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#contactform DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#contactform DT EM {
	
}
#contactform .smallbox {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #333333 1px solid; WIDTH: 300px; PADDING-TOP: 2px; BORDER-BOTTOM: #333333 1px solid
}
#contactform TEXTAREA {
	WIDTH: 400px; HEIGHT: 180px
}
#news {
	BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 0px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; BORDER-LEFT: #aaaaaa 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px dotted
}
#search .searchBox {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0em 5px; BORDER-LEFT: #666666 1px solid; WIDTH: 130px; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid
}
#search {
	BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 0px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; BORDER-LEFT: #aaaaaa 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px dotted
}
#cal {
	BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 0px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; BORDER-LEFT: #aaaaaa 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px dotted
}
#Cal A {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #006bad; TEXT-DECORATION: none
}
#Cal A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #006bad; TEXT-DECORATION: none
}
#Cal A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #006bad; TEXT-DECORATION: none
}
#Cal A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #006bad; TEXT-DECORATION: none
}
#Cal A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-DECORATION: underline
}
.Calendar {
	FONT-SIZE: 0.95em; WIDTH: 200px
}
.CalendarTitle {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 1em; PADDING-BOTTOM: 0.3em; TEXT-ALIGN: center
}
.CalendarDayHeader {
	FONT-WEIGHT: bold
}
.CalendarOtherMonth {
	COLOR: #ffffff
}
.CalendarNextPrev {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 1em; VERTICAL-ALIGN: bottom; PADDING-TOP: 1em
}
.CalendarWeekend {
	
}
.media {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN: 10px 10px 5px
}
.spacer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 0px
}
#skinbutton {
	FLOAT: right; MARGIN-RIGHT: 1em
}
#skinbutton UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#skinbutton LI {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; MARGIN: 5px 0px 0px 20px; BORDER-LEFT: #999 1px solid; WIDTH: 9em; BORDER-BOTTOM: #999 1px solid
}
#skinbutton LI A {
	COLOR: #333; TEXT-DECORATION: none
}
UNKNOWN {
	PADDING-RIGHT: 2px
}
.skinbuttonlink {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #ddd; PADDING-BOTTOM: 2px; FONT: 0.75em verdana, arial, sans-serif; BORDER-LEFT: white 1px solid; WIDTH: 100%; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid; TEXT-DECORATION: none
}
.skinbuttonlink SPAN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; FONT: bold 1em verdana, arial, sans-serif; COLOR: #fff; PADDING-TOP: 2px
}
.cs SPAN {
	BACKGROUND: #333333
}
.CommonRateControlReadOnly {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.CommonRateControl {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.CommonRateControlActive {
	BORDER-RIGHT: #cc9933 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cc9933 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cc9933 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #cc9933 1px solid; BACKGROUND-COLOR: #ffcc66
}
.CommonRateControlReadOnly IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.CommonRateControl IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.CommonRateControlActive IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#masthead {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0em; COLOR: #333; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
#masthead UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#masthead UL LI {
	DISPLAY: inline
}
#masthead UL LI A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#masthead A:link {
	COLOR: #006bad; TEXT-DECORATION: none
}
#masthead A:visited {
	COLOR: #006bad; TEXT-DECORATION: none
}
#masthead A:active {
	COLOR: #006bad; TEXT-DECORATION: none
}
#masthead A:hover {
	COLOR: #006bad; TEXT-DECORATION: none
}
.TagCloud {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 16px; MARGIN: 16px 0px; COLOR: #999999; LINE-HEIGHT: 180%; PADDING-TOP: 16px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f7f7f7
}
.SidebarTagCloud {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Tag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag1 A:link {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #001b5d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:visited {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #001b5d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:active {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #001b5d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #002b6d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #002b6d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #002b6d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #003b7d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #003b7d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #003b7d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:link {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #004b8d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #004b8d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:active {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #004b8d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:link {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #005b9d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #005b9d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:active {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #005b9d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #006bad; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #006bad; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #006bad; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:hover {
	TEXT-DECORATION: underline
}
.Tag2 A:hover {
	TEXT-DECORATION: underline
}
.Tag3 A:hover {
	TEXT-DECORATION: underline
}
.Tag4 A:hover {
	TEXT-DECORATION: underline
}
.Tag5 A:hover {
	TEXT-DECORATION: underline
}
.Tag6 A:hover {
	TEXT-DECORATION: underline
}
.SearchStatistics {
	MARGIN-TOP: 16px; MARGIN-BOTTOM: 16px
}
.InlineTagEditor {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.TextButton {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeeeee
}
.TextButton:link {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:visited {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.TextButton:hover {
	COLOR: #333333; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: underline
}
.ModalMask {
	FILTER: alpha(opacity=40); BACKGROUND-COLOR: #333333; opacity: .4
}
.Modal {
	BORDER-RIGHT: #888888 3px solid; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 3px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalTitle {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 7px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 0px solid; CURSOR: move; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
.ModalClose {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/close.gif); OVERFLOW: hidden; WIDTH: 33px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.ModalContent {
	BACKGROUND-COLOR: #ffffff
}
.ModalFooter {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalResize {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/resize.gif); OVERFLOW: hidden; WIDTH: 14px; CURSOR: se-resize; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.BlogSubNotification {
	FONT-SIZE: 80%; COLOR: #ff0000
}
.SubscriptionButton {
	MARGIN-LEFT: 0px
}
