A:visited {
	COLOR: #006bad; TEXT-DECORATION: none
}
A:active {
	COLOR: #006bad; TEXT-DECORATION: none
}
A:link {
	COLOR: #006bad; TEXT-DECORATION: none
}
#sidebar-a H3 {
	BACKGROUND: #7ba5ce
}
.postsubhead {
	BACKGROUND: #7ba5ce
}
.commentalt {
	BACKGROUND-COLOR: #f2f7fd
}
#Cal A {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-DECORATION: none
}
#Cal A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-DECORATION: none
}
#Cal A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-DECORATION: none
}
#Cal A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-DECORATION: none
}
