.RadEWrapper TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.RadEWrapper TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px Tahoma; WIDTH: auto; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.RadEWrapper TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px Tahoma; WIDTH: auto; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.RadEWrapper IFRAME {
	BACKGROUND-COLOR: white
}
.RadEFixedToolbarHolderMozilla {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; Z-INDEX: 10000; LEFT: 0px! important; BORDER-LEFT: #808080 1px solid; WIDTH: 100%; BORDER-BOTTOM: #808080 1px solid; POSITION: fixed! important; TOP: 0px! important; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.RadEFixedToolbarHolderIE {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; Z-INDEX: 51200; ; LEFT: expression( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft  + 'px'); BORDER-LEFT: #808080 1px solid; WIDTH: 100%; BORDER-BOTTOM: #808080 1px solid; POSITION: absolute; ; TOP: expression(  ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop  + 'px'); BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.RadERelativeToolbarHolder {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; Z-INDEX: 10000; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid; POSITION: absolute; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.RadEToolText {
	FONT: 11px Tahoma; MARGIN-LEFT: 2px; CURSOR: default; MARGIN-RIGHT: 2px
}
.RadEToolDown {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #808080 1px solid; FONT: 11px Tahoma; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.RadEToolOn {
	BORDER-RIGHT: #a1a1a1 1px solid; BORDER-TOP: #c2c2c2 1px solid; BACKGROUND-IMAGE: url(CssImg/toolOnbg.gif); FONT: 11px Tahoma; BORDER-LEFT: #a1a1a1 1px solid; BORDER-BOTTOM: #8c8c8c 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.RadEToolOff {
	MARGIN: 1px; FONT: 11px Tahoma; WHITE-SPACE: nowrap
}
.RadEToolOnOver {
	BORDER-RIGHT: #a1a1a1 1px solid; BORDER-TOP: #c2c2c2 1px solid; BACKGROUND-IMAGE: url(CssImg/toolOverBg.gif); FONT: 11px Tahoma; BORDER-LEFT: #a1a1a1 1px solid; BORDER-BOTTOM: #787878 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.RadEToolOffOver {
	BORDER-RIGHT: #a1a1a1 1px solid; BORDER-TOP: #c2c2c2 1px solid; BACKGROUND-IMAGE: url(CssImg/toolOverBg.gif); FONT: 11px Tahoma; BORDER-LEFT: #a1a1a1 1px solid; BORDER-BOTTOM: #787878 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.RadEToolDisabled {
	FILTER: alpha(opacity=30); MARGIN: 1px; WHITE-SPACE: nowrap; moz-opacity: 0.5; opacity: 0.5
}
.RadEToolLongOff {
	MARGIN: 1px; FONT: 11px Tahoma
}
.RadEToolLongOn {
	BORDER-RIGHT: #c8c8c8 1px solid; BORDER-TOP: #cecece 1px solid; BACKGROUND-IMAGE: url(CssImg/toolOnbg.gif); MARGIN: 1px; FONT: 11px Tahoma; BORDER-LEFT: #c6c6c6 1px solid; BORDER-BOTTOM: #8c8c8c 1px solid
}
.RadEToolLongOnOver {
	BORDER-RIGHT: #b8b8b8 1px solid; BORDER-TOP: #cecece 1px solid; BACKGROUND-IMAGE: url(CssImg/toolOverBg.gif); MARGIN: 1px; FONT: 11px Tahoma; BORDER-LEFT: #b8b8b8 1px solid; CURSOR: default; BORDER-BOTTOM: #787878 1px solid; WHITE-SPACE: nowrap
}
.RadEToolLongOffOver {
	BORDER-RIGHT: #b8b8b8 1px solid; BORDER-TOP: #cecece 1px solid; BACKGROUND-IMAGE: url(CssImg/toolOverBg.gif); MARGIN: 1px; FONT: 11px Tahoma; BORDER-LEFT: #b8b8b8 1px solid; CURSOR: default; BORDER-BOTTOM: #787878 1px solid; WHITE-SPACE: nowrap
}
.RadEToolLongDisabled {
	FILTER: alpha(opacity=50); MARGIN: 1px; moz-opacity: 0.5; opacity: 0.5
}
.RadEModuleTable {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-TOP: #f4f7f9 1px solid; BORDER-LEFT: #dbdbdb 1px solid; COLOR: #333333; BORDER-BOTTOM: #dbdbdb 1px solid; BACKGROUND-COLOR: #fcfcfc; TEXT-ALIGN: left
}
.RadEModule {
	FONT: 11px Tahoma; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 1px; HEIGHT: 100%
}
A.DomPathLink {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; FONT: 11px normal Tahoma; COLOR: #3333cc; PADDING-TOP: 3px; TEXT-DECORATION: underline
}
A.DomPathLink:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; FONT: 11px normal Tahoma; COLOR: #3333cc; PADDING-TOP: 3px; TEXT-DECORATION: underline
}
A.DomPathLink:active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; FONT: 11px normal Tahoma; COLOR: #3333cc; PADDING-TOP: 3px; TEXT-DECORATION: underline
}
A.DomPathLink:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; FONT: 11px normal Tahoma; COLOR: #3333cc; PADDING-TOP: 3px; TEXT-DECORATION: underline
}
A.DomPathLink:hover {
	BACKGROUND-COLOR: white
}
A.DomPathLinkSelected {
	BORDER-RIGHT: #c4d5e4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #c4d5e4 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; FONT: bold 11px normal Tahoma; BORDER-LEFT: #c4d5e4 1px solid; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: #c4d5e4 1px solid; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
.RadEToggleButton {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND-IMAGE: none; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 1px; VERTICAL-ALIGN: middle; WIDTH: 24px; HEIGHT: 24px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.RadEToggleButtonPressed {
	BORDER-RIGHT: #a0a0a0 1px solid; BORDER-TOP: #a0a0a0 1px solid; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: middle; BORDER-LEFT: #a0a0a0 1px solid; WIDTH: 24px; BORDER-BOTTOM: #a0a0a0 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: center
}
TD.RadEContentContainer {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: white
}
TABLE.RadEWrapper {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #e4e4e4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #e4e4e4 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.RadEWrapper .RadEVerticalDockingZone {
	FONT-SIZE: 0px; WIDTH: 1px; LINE-HEIGHT: 0px
}
.RadEWrapper .RadEDockingZone {
	FONT-SIZE: 0px; LINE-HEIGHT: 0px
}
.RadETitleGrip {
	PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(CssImg/draggedToolbarTitleBg.gif); FONT: bold 11px Tahoma; COLOR: #666666; HEIGHT: 18px; TEXT-ALIGN: left
}
.RadESideGripHorizontal {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(CssImg/dragHandle.gif); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat
}
.RadESideGripVertical {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(CssImg/dragHandleVertical.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.RadEToolbar {
	BORDER-RIGHT: #dcdcdc 1px solid; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #e5e5e5 1px solid; BACKGROUND-IMAGE: url(CssImg/ToolbarRowBackground.gif); FONT: 11px Tahoma; BORDER-LEFT: #dcdcdc 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 24px; BACKGROUND-COLOR: #fbfbfb
}
.RadEToolbarVertical {
	BORDER-RIGHT: #e5e5e5 1px solid; BORDER-TOP: #dcdcdc 1px solid; BACKGROUND-IMAGE: url(CssImg/ToolbarRowBgVertical.gif); FONT: 11px Tahoma; WIDTH: 24px; BORDER-BOTTOM: #dcdcdc 1px solid; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #fbfbfb
}
.RadAutoDockButton {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: center 50%; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BACKGROUND-IMAGE: url(CssImg/AutoDockButton.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 8px; CURSOR: pointer; MARGIN-RIGHT: 3px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px; BORDER-RIGHT-WIDTH: 0px
}
.RadESeparator {
	BACKGROUND-POSITION: center 50%; FONT-SIZE: 3px; BACKGROUND-IMAGE: url(CssImg/Separator.gif); WIDTH: 2px; BACKGROUND-REPEAT: no-repeat
}
.RadESeparatorHorizontal {
	BACKGROUND-POSITION: center 50%; FONT-SIZE: 1px; BACKGROUND-IMAGE: url(CssImg/SeparatorHorizontal.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 3px
}
.RadEErrorMessage {
	MARGIN: 3px; FONT: 11px Tahoma; COLOR: red; TEXT-ALIGN: left
}
TEXTAREA.RadETextArea {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; FONT: 11px Tahoma; BORDER-LEFT: #808080 1px solid; COLOR: #000080; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: white
}
INPUT.RadEButton {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(CssImg/button.gif); BORDER-BOTTOM-WIDTH: 0px; MARGIN: 3px; WIDTH: 78px; COLOR: #333333; LINE-HEIGHT: 21px; FONT-FAMILY: Arial; HEIGHT: 22px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
BUTTON.RadEButton {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(CssImg/button.gif); BORDER-BOTTOM-WIDTH: 0px; MARGIN: 3px; WIDTH: 78px; COLOR: #333333; LINE-HEIGHT: 21px; FONT-FAMILY: Arial; HEIGHT: 22px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
INPUT.RadETextBox {
	BORDER-RIGHT: #4d6185 1px solid; BORDER-TOP: #4d6185 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; MARGIN: 1px; FONT: menu; BORDER-LEFT: #4d6185 1px solid; BORDER-BOTTOM: #4d6185 1px solid
}
SELECT.RadEDropDown {
	PADDING-LEFT: 2px; FONT-SIZE: 11px; MARGIN: 2px; FONT-FAMILY: Tahoma
}
.RadEXhtmlButton {
	BORDER-RIGHT: #a1a1a1 1px solid; BORDER-TOP: #c2c2c2 1px solid; BACKGROUND-IMAGE: url(CssImg/toolOnbg.gif); MARGIN: 1px; FONT: 11px Tahoma; BORDER-LEFT: #a1a1a1 1px solid; WIDTH: auto; COLOR: black; BORDER-BOTTOM: #8c8c8c 1px solid; HEIGHT: 22px
}
.RadEDropDownOff {
	BORDER-RIGHT: #a6a6a6 1px solid; BORDER-TOP: #a6a6a6 1px solid; PADDING-LEFT: 3px; FONT: 11px Tahoma; MARGIN-LEFT: 1px; BORDER-LEFT: #a6a6a6 1px solid; WIDTH: auto; CURSOR: default; BORDER-BOTTOM: #a6a6a6 1px solid; BACKGROUND-COLOR: white
}
.RadEDropDownOn {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 3px; FONT: 11px Tahoma; MARGIN-LEFT: 1px; BORDER-LEFT: #666666 1px solid; WIDTH: auto; CURSOR: default; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: white
}
.RadEDropDownOffOver {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 3px; FONT: 11px Tahoma; MARGIN-LEFT: 1px; BORDER-LEFT: #666666 1px solid; WIDTH: auto; CURSOR: default; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: white
}
.RadEDropDownDisabled {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; PADDING-LEFT: 3px; FONT: 11px Tahoma; MARGIN-LEFT: 1px; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: auto; CURSOR: no-drop! important; COLOR: #808080; BORDER-BOTTOM: #dcdcdc 1px solid; BACKGROUND-COLOR: white
}
.RadEDropDownDisabled IMG {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=50); moz-opacity: 0.5; opacity: 0.5
}
.RadETableWrapperResizeSpan {
	BORDER-RIGHT: #cccccc 3px solid; BORDER-TOP: #cccccc 3px solid; BORDER-LEFT: #cccccc 3px solid; CURSOR: default; BORDER-BOTTOM: #cccccc 3px solid
}
.RadETableWrapper {
	BORDER-RIGHT: #c8c8c8 1px solid; BORDER-TOP: #e5e5e5 1px solid; FONT-SIZE: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #c8c8c8 1px solid; BORDER-BOTTOM: #c8c8c8 0px solid; BACKGROUND-COLOR: #f7f7f7
}
.RadETableWrapper TD {
	VERTICAL-ALIGN: top
}
.RadETableWrapperHeaderLeft {
	BACKGROUND: url(CssImg/DialogueHeaderLeft.gif) no-repeat; VERTICAL-ALIGN: top; WIDTH: 9px; HEIGHT: 24px
}
.RadETableWrapperHeaderCenter {
	FONT-WEIGHT: bold; BACKGROUND: url(CssImg/ToolbarRowBackground.gif) repeat-x; VERTICAL-ALIGN: top; COLOR: #212121; FONT-FAMILY: Tahoma; HEIGHT: 24px; TEXT-ALIGN: left
}
.RadETableWrapperHeaderRight {
	VERTICAL-ALIGN: top; WIDTH: 1px; HEIGHT: 24px
}
.RadETableWrapperBodyLeft {
	WIDTH: 0px
}
.RadETableWrapperBodyCenter {
	WIDTH: 100%; HEIGHT: 100%
}
.RadETableWrapperBodyRight {
	WIDTH: 0px
}
.RadETableWrapperFooterLeft {
	FONT-SIZE: 0px; WIDTH: 0px; BORDER-BOTTOM: #b4b4b4 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 13px
}
.RadETableWrapperFooterCenter {
	FONT-SIZE: 0px; WIDTH: 100%; LINE-HEIGHT: 0px; BORDER-BOTTOM: #b4b4b4 1px solid; HEIGHT: 13px
}
.RadETableWrapperFooterRight {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(CssImg/footerResize.gif); WIDTH: 14px; CURSOR: nw-resize; LINE-HEIGHT: 0px; BORDER-BOTTOM: #b4b4b4 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 13px
}
.RadETableWrapperFooterRightOver {
	FONT-SIZE: 0px; WIDTH: 0px; CURSOR: nw-resize; LINE-HEIGHT: 0px; HEIGHT: 0px
}
.RadERadWindowHeader {
	DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; CURSOR: default; COLOR: #212121; PADDING-TOP: 6px; FONT-STYLE: normal; FONT-FAMILY: Microsoft Sans Serif
}
.RadERadWindowButtonClose {
	DISPLAY: block; BACKGROUND-IMAGE: url(CssImg/dialogueHeaderClose.gif); WIDTH: 19px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.RadERadWindowButtonPinOff {
	DISPLAY: block; BACKGROUND-IMAGE: url(CssImg/dialogueHeaderPinOff.gif); WIDTH: 16px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.RadERadWindowButtonPinOn {
	DISPLAY: block; BACKGROUND-IMAGE: url(CssImg/dialogueHeaderPinOn.gif); WIDTH: 16px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.RadERibbon {
	BORDER-RIGHT: #e4e4e4 1px solid; BORDER-TOP: #e4e4e4 1px solid; MARGIN-BOTTOM: 1px; BORDER-LEFT: #e4e4e4 1px solid; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #e4e4e4 1px solid
}
.RadERibbon .RadAutoDockButton {
	MARGIN-TOP: 1px; CURSOR: default
}
.RadERibbon .RadETitleGrip {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT: 11px Arial, Verdana, Sans-serif; CURSOR: default; HEIGHT: 11px; BORDER-RIGHT-WIDTH: 0px
}
.RadERibbon .RadEToolbar {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
