#column-content {
	FLOAT: none; MARGIN-LEFT: 0px; HEIGHT: 1%
}
#column-content #content {
	MARGIN-TOP: 3em; MARGIN-LEFT: 12.2em; HEIGHT: 1%
}
#column-one {
	Z-INDEX: 4; LEFT: 0px; POSITION: absolute; TOP: 0px
}
#footer {
	MARGIN-LEFT: 13.6em; BORDER-LEFT: #fabd23 1px solid
}
#p-cactions {
	Z-INDEX: 3
}
#p-cactions LI {
	FLOAT: none! important; PADDING-BOTTOM: 0px! important; CURSOR: default; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
#p-cactions LI A {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; DISPLAY: inline-block! important; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 0px solid
}
#p-cactions LI.selected A {
	BORDER-LEFT-COLOR: #fabd23; BORDER-BOTTOM-COLOR: #fabd23; PADDING-BOTTOM: 0.17em; BORDER-TOP-COLOR: #fabd23; BORDER-RIGHT-COLOR: #fabd23
}
#p-cactions LI A:hover {
	PADDING-BOTTOM: 0.17em
}
#portal-personaltools {
	PADDING-BOTTOM: 0.1em
}
#bodyContent A.external {
	PADDING-RIGHT: 13px; BACKGROUND: url(external.png) no-repeat right center
}
#p-logo A {
	CURSOR: pointer
}
#p-logo A:hover {
	CURSOR: pointer
}
DIV.visualClear {
	WIDTH: 100%; LINE-HEIGHT: 0
}
TEXTAREA {
	WIDTH: 96%
}
DIV.editsection {
	POSITION: relative
}
#catlinks {
	POSITION: relative
}
DIV.tright {
	POSITION: relative
}
DIV.tleft {
	POSITION: relative
}
